@use '../../../scss/variables' as *;
@use '../../../scss/reset';

.navbar {
    width: 100vw;
    background: rgba(22,27,34,.9); backdrop-filter: blur(8px);
    position: sticky; 
    top: 0; 
    z-index: 10;  
    backdrop-filter: blur(8px); 
    border-bottom: 1px solid #30363d;

    .wrap{
        display: flex;
        justify-content: space-around;
        align-items:center;


        .brand {
        
        display:flex;
        align-items: center;
        font-weight: 700; 
        letter-spacing: .5px;
        text-decoration: none;
        .logos {
        img {
            height:  50px;
            margin: 0.5rem 10px;
            }
        }

        span {
            color: $primary-color;
            font-size: 1.6rem;
            a {
                text-decoration: none;
            }
        }

    }

   .links {
    a {
        text-decoration: none;
        font-size: 1.4rem;
        margin: 1.2rem;
        color: $primary-color;
        transition: all 0.3s ease;
    }

    a:hover {
       
        text-decoration: underline;
    }

    a:active {
        color: rgba(255, 255, 255, 0.6);
    }
   }
    }
    
    

    
}



