@use './../../../../scss/variables'as *;
@use '../../../../scss/reset';



.details {
  margin-top: 16px;

  h3 {
    font-size: 1.8rem;
    margin-bottom: 12px;
  }
}

.bookdetail-table {
  width: 100%;
  border-spacing: 6px;   // espacio horizontal y vertical
  table-layout: fixed;        // evita que el contenido deforme las columnas
  font-size: 1.2rem;

  td {
    padding: 4px 0;
    vertical-align: top;
  }

  .title {
    font-weight: 700;
    
    color: $secondary-color;
    width: 180px;             // MISMO ancho para la primera columna en las 2 tablas
    text-align: left;
    white-space: nowrap;
  }

  .data {
    
    color: $primary-color;
    text-align: left;         // fuerza alineación a la izquierda (evita que el 3 se vaya a la orilla)
  }
}
