@use './../../../../scss/variables'as *;
@use '../../../../scss/reset';



.details {
  margin-top: 16px;

  h3 {
    font-size: 1.8rem;
    margin-bottom: 12px;
  }
}

.bookdetail-table {
  width: 100%;
  border-spacing: 6px;   
  table-layout: fixed;       
  font-size: 1.2rem;

  td {
    padding: 4px 0;
    vertical-align: top;
  }

  .title {
    font-weight: 700;
    
    color: $secondary-color;
    width: 180px;            
    white-space: nowrap;
  }

  .data {
    
    color: $primary-color;
    text-align: left;       
  }
}
