@use '../../scss/variables' as *;
@use '../../scss/reset';

.booksfilter-container{
    width: 100%;
    margin: 24px;
    display: flex;
    justify-content: space-between;
    
    label {
        font-size: 1.6rem;
        user-select: none;
        
        select {
        font-size: 1.2rem;
    }
    }

    
}