@use '../../scss/variables' as *;
@use '../../scss/reset';



.bookdetail-page{
    
    
.bookdetail-container {
    margin: 2.4rem auto;
    padding: 1.2rem;
    color: $primary-color;
    width: 80%;
    min-height:75vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;

      border: 1px solid rgb(221, 221, 221,0.2) ;
      border-radius: 12px;
      
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      

    .left-container{
        figure{
            img{
                width: 300px;
                height: 415px;
                min-height: 414px;
                border-radius: 8px;
                box-shadow: 0 2px 8px rgba(0,0,0,0.2);
            }
        }
    }
    .right-container{
        
        position: relative;
       
        width: 100%;
        
        align-items: start;

        .title-block{
            h2{
                font-size: 2.8rem;
            }
            h3 {
                font-size: 2.2rem;
                color: $secondary-color;
                font-style: italic;
            }
        }
            
    }
}
}



