@use '../../scss/variables' as *;
@use '../../scss/reset';

.link {
    text-decoration: none;
}
.bookcard-container {
    width: 200px;
    height: 300px;
    transition: all 0.3s ease;
    background-color: hsl(212, 32%, 8%);
    border: 1px solid rgb(126, 129, 134, 0.2);;
    border-radius: 8px;
    &:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 12px rgb(11, 15, 20, 0.2);
        cursor: pointer;
    }
    
    figure {
        padding: 12px;
        img {
            width: 100%;
            min-height: 225px;
            max-height: 225px;
            
            object-fit: cover;
        }
        figcaption {
            text-align: left;
           
            h3 {
                font-size: 1.25rem;
                color: $primary-color;
            }
            p {
                font-size: 1.2rem;
                color: $secondary-color;
            }

            .available {
                padding: 15xp;
                color: green;
                font-weight: bold;
                font-style: italic;
            }

            .unavailable{
                padding: 15xp;
                color: darkred;
                font-weight: bold;
                font-style: italic;
            }
        }
        
    }
}