@use '../../../scss/variables.scss' as *;
@use '../../../scss/reset.scss';

footer {
    text-align: center;
    color: $primary-color;
    background: rgba(22,27,34,.9); backdrop-filter: blur(8px);
    
    width: 100%;
    margin-top: auto;
    font-size: 1.4rem;

    &:hover {
        user-select: none;
    }

    figure {
        height: 20px;
        img{
            height: 30px;
            width: 30px;
            object-fit: cover;

            &:hover{
            cursor: pointer;
        }
        }
    

        


    }

    
      
      
   .brand-profile {
    font-size: .9rem;
    display: block;
    a {
        color: white;
        text-decoration: none;
    }
   }

}
