$primary-color: #e6edf3;
$secondary-color: #9ca3af; 
$tec-color: #1B396A;
$buttons: #70747d;
$accent-tec-color:hsl(203, 83%, 42%);
$soft-tec-color:hsl(203, 83%, 12%);
$danger-color: hsl(0, 74%, 42%);
$black: #181818;
$success-color: #16a34a;
$warning-color: hsl(38, 92%, 42%);
$cancel-color: hsl(219, 6%, 30%);
$detail-color: #7e8186;

